<h1>ユーザー詳細ページ</h1>
<% if flash[:notice] %>
  <div class="alert alert-primary">
    <%= flash[:notice] %>
  </div>
<% end %>
<p><%= @user.name %></p>
<p><%= @user.email %></p>

<% if @current_user.id == @user.id %>
  <%= link_to "編集", edit_user_path(@current_user), class: "btn btn-primary" %>
  <%= link_to "退会", @value, method: :delete, data: { confirm: "本当に退会しますか?" }, class: "btn btn-primary" %>
<% end %>


 <div class="col-md-8">
    <% if @user.values.any? %>
      <h3>価値観一覧 (<%= @user.values.count %>)</h3>
      <ol class="microposts">
        <%= render @user.values %>
      </ol>
    <% end %>
  </div>