<!DOCTYPE html>
<html>
  <head>
    <title>ValueShareApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar  navbar-fixed-top navbar-inverse navbar-dark bg-dark">
      <div class="container">
        <nav>
          <ul class="nav navbar-navs">
            <% if @current_user %>
              <li><%= link_to "マイページ" %></li>
              <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
              <li><%= link_to "ユーザー一覧", users_path %></li>
              <li><%= link_to "新規投稿", new_value_path %></li>
            <% else %>
              <li><%= link_to "ログイン",  login_path %></li>
              <li><%= link_to "新規登録", new_user_path %></li>
            <% end %>
            <li><%= link_to "投稿一覧",   values_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
